---
layout: default
title: Blog
permalink: /blog/
---

<div class="my-10 md:my-16">
  <% posts_by_year.each do |year, posts| %>
    <div class="md:flex mb-10" id="year-<%= year %>">
      <h2 class="flex-none w-24 text-zinc-400 dark:text-zinc-500" id="y-<%= year %>"><%= year %></h2>
      <ul class="grow md:grid grid-cols-2 gap-x-4 md:gap-x-8">
        <% posts.each do |post| %>
          <li class="mb-4">
            <a href="<%= post.relative_url %>" class="text-sm font-light text-zinc-600 dark:text-zinc-400"><%= post.date.strftime("%B %e") %></a>
            <% post.data.categories&.each do |category| %>
              <a class="text-sm font-light text-rose-700 hover:text-rose-800 dark:text-rose-500" href="<%= category_url(category) %>"><%= category %></a>
            <% end %>
            <h3 class="text-lg font-semibold"><a class="hover:text-rose-800" href="<%= post.relative_url %>"><%= post.data.title %></a></h3>
            <h4><a href="<%= post.relative_url %>"><%= post.data.description %></a></h4>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

