---
layout: default
title: Blog
permalink: /blog/
---

<div class="space-y-12">
  <% posts_by_year.each_with_index do |(year, posts), year_index| %>
    <section class="animate-fade-in" style="animation-delay: <%= year_index * 60 %>ms" id="year-<%= year %>">
      <h2 class="blog-year mb-6" id="y-<%= year %>"><%= year %></h2>
      <div class="space-y-8">
        <% posts.each do |post| %>
          <article class="group">
            <div class="flex items-baseline gap-3 mb-1">
              <span class="post-date"><%= post.date.strftime("%B %e") %></span>
              <% post.data.categories&.each do |category| %>
                <a class="category-tag" href="<%= category_url(category) %>"><%= category %></a>
              <% end %>
            </div>
            <h3>
              <a href="<%= post.relative_url %>" class="blog-post-title"><%= post.data.title %></a>
            </h3>
            <% if post.data.description %>
              <p class="blog-post-desc mt-1"><%= post.data.description %></p>
            <% end %>
          </article>
        <% end %>
      </div>
    </section>
  <% end %>
</div>
